body{
    background-image: url("./images/space.jpg");
    overflow: hidden;
}
.start button{
    background: #0c0b0b;
    color: #d7ec14;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.start {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.img-astro {
    position: absolute;
    top: 350px;
    left: 50%;
}

.img-astro img {
    height: 150px;
    position: absolute;
}


h1{
    position: absolute;
    font-weight: bold;
    font-size: 100px;
    top: 350px;
    left: 46%;
    z-index: 0;
    color: azure;

}
.footer {
    color: azure;
    z-index: 3;
    position: absolute;
    top: 600px;
    left: 100px;
    transform: rotate(360deg);
    animation: spin 40s linear infinite;
}
 @keyframes spin { 100% {  transform:rotate(360deg); } }